@model IEnumerable<NexxtVoucher.Models.PlanCategory>

@{
    ViewBag.Title = @Resources.Resource.PlanCategory_ViewIndex_Titulo1;
}

    <h2>@Resources.Resource.PlanCategory_ViewIndex_Titulo1</h2>

    <p>
        <button title=@Resources.Resource.ButtonNew class="btn btn-primary btn-sm" onclick="location.href =
            '@Url.Action("Create", "PlanCategories", new { })'">
            <span class="glyphicon glyphicon-plus"></span> @Resources.Resource.ButtonNew
        </button>
    </p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Server.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Detalle)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Server.Nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Categoria)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Detalle)
    </td>
    <td>
        <button title=@Resources.Resource.ButtonEdit class="btn btn-warning btn-sm" onclick="location.href =
            '@Url.Action("Edit", "PlanCategories", new { id = item.PlanCategoryId})'">
            <span class="glyphicon glyphicon-pencil"></span>
        </button>

        <button title=@Resources.Resource.ButtonDetail class="btn btn-info btn-sm" onclick="location.href =
            '@Url.Action("Details", "PlanCategories", new { id = item.PlanCategoryId})'">
            <span class="glyphicon glyphicon-list"></span>
        </button>

        <button title=@Resources.Resource.ButtonDelete class="btn btn-danger btn-sm" onclick="location.href =
            '@Url.Action("Delete", "PlanCategories", new { id = item.PlanCategoryId})'">
            <span class="glyphicon glyphicon-trash"></span>
        </button>
    </td>
</tr>
}

</table>
