@model NexxtVoucher.Models.PlanTicket

@{
    ViewBag.Title = @Resources.Resource.ViewDetail;
}

<h2>@Resources.Resource.ViewDetail</h2>

<div>
    <h4>@Resources.Resource.PlanTicket_Model_Titulo</h4>
    <hr />
    <div class="form-row">
        <div class="col-md-4 mb-2">
            <strong>@Html.DisplayNameFor(model => model.Server.Nombre)</strong>
            @Html.DisplayFor(model => model.Server.Nombre)
        </div>

        <div class="col-md-4 mb-2">
            <strong>@Html.DisplayNameFor(model => model.PlanCategory.Categoria)</strong>
            @Html.DisplayFor(model => model.PlanCategory.Categoria)
        </div>

    </div>
    <hr />
    <div class="form-row">
        <div class="col-md-4 mb-2">
            <strong>@Html.DisplayNameFor(model => model.Plan)</strong>
            @Html.DisplayFor(model => model.Plan)
        </div>

        <div class="col-md-4 mb-2">
            <strong>@Html.DisplayNameFor(model => model.ShareUser)</strong>
            @Html.DisplayFor(model => model.ShareUser)
        </div>
    </div>
    <hr />
    <div class="form-row">
        <div class="col-md-4 mb-2">
            <strong>@Html.DisplayNameFor(model => model.Detalle)</strong>
            @Html.DisplayFor(model => model.Detalle)
        </div>
    </div>
    <hr />
    <div class="form-row">
        <div class="col-md-4 mb-2">
            <strong>@Html.DisplayNameFor(model => model.SpeedUp.VelocidadUp) / @Html.DisplayNameFor(model => model.SpeedDown.VelocidadDown)</strong>
            @Html.DisplayFor(model => model.SpeedUp.VelocidadUp) / @Html.DisplayFor(model => model.SpeedDown.VelocidadDown)
        </div>

        <div class="col-md-4 mb-2">
            <strong>@Html.DisplayNameFor(model => model.TicketInactive.TiempoInactivo)</strong>
            @Html.DisplayFor(model => model.TicketInactive.TiempoInactivo)
        </div>

    </div>
    <div class="form-row">
        <div class="col-md-4 mb-2">
            <strong>@Html.DisplayNameFor(model => model.TicketRefresh.TiempoRefrescar)</strong>
            @Html.DisplayFor(model => model.TicketRefresh.TiempoRefrescar)
        </div>

        <div class="col-md-4 mb-2">
            <strong>@Html.DisplayNameFor(model => model.TicketTime.TiempoTicket)</strong>
            @Html.DisplayFor(model => model.TicketTime.TiempoTicket)
        </div>

    </div>
    <div class="form-row">
        <div class="col-md-4 mb-2">
            <strong>@Html.DisplayNameFor(model => model.proxy)</strong>
            @Html.DisplayFor(model => model.proxy)
        </div>

    </div>
    <div class="form-row">
        <div class="col-md-4 mb-2">
            <strong>@Html.DisplayNameFor(model => model.macCookies)</strong>
            @Html.DisplayFor(model => model.macCookies)
        </div>

    </div>
    <hr />
    <div class="form-row">
        <div class="col-md-4 mb-2">
            <strong>@Html.DisplayNameFor(model => model.ContinueTime)</strong>
            @Html.DisplayFor(model => model.ContinueTime)
        </div>

    </div>
    <hr />
    <div class="form-row">
        <div class="col-md-4 mb-2">
            <strong>@Html.DisplayNameFor(model => model.Tax.Impuesto)</strong>
            @Html.DisplayFor(model => model.Tax.Impuesto)
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4 mb-2">
            <strong>@Html.DisplayNameFor(model => model.Precio)</strong>
            @Html.DisplayFor(model => model.Precio)
        </div>
    </div>
</div>
<hr />
<p></p>
<p>
    <button type="button" class="btn btn-success btn-sm" onclick="location.href = '@Url.Action("Index", new  {})'">
        <i class="fa fa-backspace"></i>
        @Resources.Resource.ButtonBack
    </button>

    <button type="submit" class="btn btn-warning btn-sm" onclick="location.href = '@Url.Action("Edit", new { id = Model.PlanTicketId })'">
        <i class="fa fa-pencil-alt"></i>
        @Resources.Resource.ButtonEdit
    </button>
</p>
