@*@model IEnumerable<NexxtVoucher.Models.PlanTicket>*@
@model PagedList.IPagedList<NexxtVoucher.Models.PlanTicket>
@using PagedList.Mvc;
@{
    ViewBag.Title = @Resources.Resource.PlanTicket_Model_Titulo;
}

<br />
<p></p>
<div class="row">
    <div class="col-md-12">
        <div class="shadow mb-1 bg-white rounded">
            <div class="card">
                <div class="card-body">
                    <div class="form-row">
                        <div class="col-md-6 mb-2">
                            <h2>@Resources.Resource.PlanTicket_Model_Titulo</h2>
                            <button title="" class="btn btn-primary btn-sm" onclick="location.href = '@Url.Action("Create", new { })'">
                                <i class="fa fa-plus"></i>
                                @Resources.Resource.ButtonNew
                            </button>
                        </div>

                        <div class="col-md-6 mb-2">
                            <p></p>
                            @using (Html.BeginForm("Index", "PlanTickets"))
                            {
                                @Html.AntiForgeryToken()
                                <div class="row">
                                    <p></p>
                                    <div class="col-md-8 mb-2">
                                        <div class="form-horizontal">
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <input type="text" name="txt_search" id="txt_search" class="form-control" placeholder="Lista por Servidor" />
                                                    <input type="hidden" id="item_list" name="servidorid" /><br />

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-2">
                                        <button type="submit" class="btn btn-primary btn-sm">
                                            <i class="fa fa-search"></i>
                                            @Resources.Resource.ButtonSearch
                                        </button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<p></p>
<table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Plan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Server.Nombre)
            </th>
            <th align="center">
                Time / Up / Down
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().MikrotikId)
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Plan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Server.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketTime.TiempoTicket) / @Html.DisplayFor(modelItem => item.SpeedUp.VelocidadUp) / @Html.DisplayFor(modelItem => item.SpeedDown.VelocidadDown)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MikrotikId)
            </td>
            <td>
                <button title="Editar" class="btn btn-warning btn-sm" onclick="location.href =
                   '@Url.Action("Edit", new { id = item.PlanTicketId})'">
                    <i class="fa fa-pencil-alt"></i>
                </button>

                <button title="Detalle" class="btn btn-info btn-sm" onclick="location.href =
                   '@Url.Action("Details", new { id = item.PlanTicketId})'">
                    <i class="fa fa-clipboard-list"></i>
                </button>

                <button title="Borrar" class="btn btn-danger btn-sm" onclick="location.href =
                    '@Url.Action("Delete", new { id = item.PlanTicketId})'">
                    <i class="fa fa-trash"></i>
                </button>
            </td>
        </tr>
    }

</table>

@Html.PagedListPager(Model, page => Url.Action("Index", new
{
    page,
    sortOrder =
         ViewBag.CurrentSort,
    currentFilter = ViewBag.CurrentFilter,
    @class = "page-link"
}), new PagedListRenderOptions
{
    FunctionToTransformEachPageLink = (liTag, aTag) =>
    {
        aTag.Attributes.Add("class", "page-link");
            liTag.InnerHtml = aTag.ToString();
            return liTag;
        },
        LiElementClasses = new[] { "page-item" },
        UlElementClasses = new[] { "pagination justify-content-center" }
    })

<link href="~/Content/JquerySearch/jquery-ui.css" rel="stylesheet" />


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Content/JquerySearch/jquery-1.12.4.js"></script>
    <script src="~/Content/JquerySearch/jquery-ui.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#txt_search").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/PlanTickets/Search/',
                        data: "{ 'prefix': '" + request.term + "'}",
                        dataType: "json",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                            alert(response.responseText);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        }
                    });
                },
                select: function (e, i) {
                    $("#item_list").val(i.item.val);
                },
                minLength: 1
            });

        });
    </script>

}
