@model IEnumerable<NexxtVoucher.Models.PlanTicket>

@{
    ViewBag.Title = @Resources.Resource.PlanTicket_Model_Titulo;
}

    <h2>@Resources.Resource.PlanTicket_Model_Titulo</h2>

    <p>
        <button title=@Resources.Resource.ButtonNew class="btn btn-primary btn-sm" onclick="location.href =
            '@Url.Action("Create", "PlanTickets", new { })'">
            <span class="glyphicon glyphicon-plus"></span> @Resources.Resource.ButtonNew
        </button>
    </p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Plan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Server.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketTime.TiempoTicket)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpeedUp.VelocidadUp) / @Html.DisplayNameFor(model => model.SpeedDown.VelocidadDown)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MikrotikId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Plan)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Server.Nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TicketTime.TiempoTicket)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SpeedUp.VelocidadUp) / @Html.DisplayFor(modelItem => item.SpeedDown.VelocidadDown)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Precio)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MikrotikId)
    </td>
    <td>
        <button title=@Resources.Resource.ButtonEdit class="btn btn-warning btn-sm" onclick="location.href =
            '@Url.Action("Edit", "PlanTickets", new { id = item.PlanTicketId})'">
            <span class="glyphicon glyphicon-pencil"></span>
        </button>

        <button title=@Resources.Resource.ButtonDetail class="btn btn-info btn-sm" onclick="location.href =
            '@Url.Action("Details", "PlanTickets", new { id = item.PlanTicketId})'">
            <span class="glyphicon glyphicon-list"></span>
        </button>

        <button title=@Resources.Resource.ButtonDelete class="btn btn-danger btn-sm" onclick="location.href =
            '@Url.Action("Delete", "PlanTickets", new { id = item.PlanTicketId})'">
            <span class="glyphicon glyphicon-trash"></span>
        </button>
    </td>
</tr>
}

</table>
