@model NexxtVoucher.Models.Server

@{
    ViewBag.Title = @Resources.Resource.MikrotikConnection;
}
@Html.HiddenFor(model => model.ServerId)

    <div class="form-horizontal">
        <h4>
            <strong> @Html.ValidationSummary(true, "", new { @class = "text-danger" })</strong>
        </h4>
        <hr />
        <div>
            <p>
                @Html.ActionLink(@Resources.Resource.ButtonBack, "Details", new { id = Model.ServerId }, new { @class = "btn btn-success" })
            </p>
        </div>
    </div>