@model NexxtVoucher.Models.PrintViewCachier

    <p></p>
@{
    ViewBag.Title = @Resources.Resource.SellTicketCachier_Titulo;
}

    <h2>@Resources.Resource.SellTicketCachier_Titulo</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CompanyId)

        <div class="form-group">
            @Html.LabelFor(model => model.CachierId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CachierId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CachierId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateInicio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateInicio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DateInicio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateFin, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateFin, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DateFin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-warning btn-sm">
                    <span class="glyphicon glyphicon-th-list"></span> @Resources.Resource.ButtonReport
                </button>
                @*@Html.ActionLink("Volver", "Index", new { }, new { @class = "btn btn-success btn-sm" })*@
            </div>
        </div>
    </div>
}

