@model NexxtVoucher.Models.City

@{
    ViewBag.Title = @Resources.Resource.ViewDetail;
}

    <h2>@Resources.Resource.ViewDetail</h2>

<div>
    <h4>@Resources.Resource.City_ViewIndex_Titulo1</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ciudad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ciudad)
        </dd>

    </dl>
</div>
<p>
    <button type="button" class="btn btn-success btn-sm" onclick="location.href = '@Url.Action("Index", new  {})'">
        <i class="fa fa-backspace"></i>
        @Resources.Resource.ButtonBack
    </button>

    <button type="submit" class="btn btn-warning btn-sm" onclick="location.href = '@Url.Action("Edit", new { id = Model.CityId })'">
        <i class="fa fa-pencil-alt"></i>
        @Resources.Resource.ButtonEdit
    </button>
</p>
