@*@model IEnumerable<NexxtVoucher.Models.City>*@

@model PagedList.IPagedList<NexxtVoucher.Models.City>
@using PagedList.Mvc;

@{
    ViewBag.Title = @Resources.Resource.City_ViewIndex_Titulo1;
}

<h2>@Resources.Resource.City_ViewIndex_Titulo1</h2>

<p>
    <button title=@Resources.Resource.ButtonNew class="btn btn-primary btn-sm" onclick="location.href =
            '@Url.Action("Create", "Cities", new { })'">
        <span class="glyphicon glyphicon-plus"></span> @Resources.Resource.ButtonNew
    </button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Ciudad)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ciudad)
            </td>
            <td>
                <button title=@Resources.Resource.ButtonEdit class="btn btn-warning btn-sm" onclick="location.href =
                   '@Url.Action("Edit", "Cities", new { id = item.CityId})'">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>

                <button title=@Resources.Resource.ButtonDetail class="btn btn-info btn-sm" onclick="location.href =
                   '@Url.Action("Details", "Cities", new { id = item.CityId})'">
                    <span class="glyphicon glyphicon-list"></span>
                </button>

                <button title=@Resources.Resource.ButtonDelete class="btn btn-danger btn-sm" onclick="location.href =
                   '@Url.Action("Delete", "Cities", new { id = item.CityId})'">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
        </tr>
    }

</table>

Página: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber), de: @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new
{
    page,
    sortOrder =
    ViewBag.CurrentSort,
    currentFilter = ViewBag.CurrentFilter
}))