@model NexxtVoucher.Models.TicketTime

@{
    ViewBag.Title = @Resources.Resource.ViewDetail;
}

    <h2>@Resources.Resource.ViewDetail</h2>

<div>
    <h4>@Resources.Resource.TicketTime_Titulo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Orden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Orden)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TiempoTicket)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TiempoTicket)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScriptTicketConsumo)
        </dt>

        <dd>
            @Html.EditorFor(model => model.ScriptTicketConsumo, new { htmlAttributes = new { @readonly = "True", @class = "form-control", @style = "height: 100px;max-width:700px" } })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScriptTicket)
        </dt>

        <dd>
            @Html.EditorFor(model => model.ScriptTicket, new { htmlAttributes = new { @readonly = "True", @class = "form-control", @style = "height: 750px;max-width:700px" } })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>
</div>
<p>
    <button type="button" class="btn btn-success btn-sm" onclick="location.href = '@Url.Action("Index", new  {})'">
        <i class="fa fa-backspace"></i>
        @Resources.Resource.ButtonBack
    </button>

    <button type="submit" class="btn btn-warning btn-sm" onclick="location.href = '@Url.Action("Edit", new { id = Model.TicketTimeId })'">
        <i class="fa fa-pencil-alt"></i>
        @Resources.Resource.ButtonEdit
    </button>
</p>
