@model NexxtVoucher.Models.Cachier

@{
    ViewBag.Title = @Resources.Resource.ViewDetail;
}

    <h2>@Resources.Resource.ViewDetail</h2>

<div>
    <h4>@Resources.Resource.Cachier_ViewIndex_Titulo1</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Server.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Server.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Identification.TipoDocumento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Identification.TipoDocumento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdentificationNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdentificationNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Movil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City.Ciudad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City.Ciudad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zone.Zona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zone.Zona)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

    </dl>
</div>
<p>
    <button type="button" class="btn btn-success btn-sm" onclick="location.href = '@Url.Action("Index", new  {})'">
        <i class="fa fa-backspace"></i>
        @Resources.Resource.ButtonBack
    </button>

    <button type="submit" class="btn btn-warning btn-sm" onclick="location.href = '@Url.Action("Edit", new { id = Model.CachierId })'">
        <i class="fa fa-pencil-alt"></i>
        @Resources.Resource.ButtonEdit
    </button>
</p>
