<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @*Linea que se agrega para que funcione en todo el proyecto WebFont Asome
        <script src="https://kit.fontawesome.com/d3ac246499.js" crossorigin="anonymous"></script>
        fin de la linea para llamar al WebFont Asome *@
    <link href="~/Content/all.min.css" rel="stylesheet" />
    <link href="~/Content/fontawesome.min.css" rel="stylesheet" />

    <title>@ViewBag.Title - Nexxt Voucher</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        @Html.ActionLink("NexxtVoucher", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        @*<a class="navbar-brand" href="#">Navbar</a>*@
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item active">
                    @Html.ActionLink("Contact", "Contact", "Home", new { }, new { @class = "nav-link" })
                </li>

                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @Resources.Resource.MenuAdministrador
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @Html.ActionLink(@Resources.Resource.MenuAdministrador_Company, "Index", "Companies", new { }, new { @class = "dropdown-item" })
                            @Html.ActionLink(@Resources.Resource.MenuAdministrador_User, "Index", "Users", new { }, new { @class = "dropdown-item" })
                        </div>
                    </li>
                }

                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @Resources.Resource.MenuData_Data
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @Html.ActionLink(@Resources.Resource.MenuData_Download, "Index", "SpeedDowns", new { }, new { @class = "dropdown-item" })
                            @Html.ActionLink(@Resources.Resource.MenuData_Upload, "Index", "SpeedUps", new { }, new { @class = "dropdown-item" })
                            @Html.ActionLink(@Resources.Resource.MenuData_TiempoTicket, "Index", "TicketTimes", new { }, new { @class = "dropdown-item" })
                            @Html.ActionLink(@Resources.Resource.MenuData_TiempoInactivo, "Index", "TicketInactives", new { }, new { @class = "dropdown-item" })
                            @Html.ActionLink(@Resources.Resource.MenuData_TiempoRefrescar, "Index", "TicketRefreshes", new { }, new { @class = "dropdown-item" })
                        </div>
                    </li>
                }

                @if (User.IsInRole("User"))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @Resources.Resource.MenuArchivo_Archivo
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @Html.ActionLink(@Resources.Resource.MenuArchivo_Ciudad, "Index", "Cities", new { }, new { @class = "dropdown-item" })
                            @Html.ActionLink(@Resources.Resource.MenuArchivo_Zona, "Index", "Zones", new { }, new { @class = "dropdown-item" })
                            <div class="dropdown-divider"></div>
                            @Html.ActionLink(@Resources.Resource.MenuArchivo_Servidores, "Index", "Servers", new { }, new { @class = "dropdown-item" })
                            <div class="dropdown-divider"></div>
                            @Html.ActionLink(@Resources.Resource.MenuArchivo_CategoriaPlan, "Index", "PlanCategories", new { }, new { @class = "dropdown-item" })
                            @Html.ActionLink(@Resources.Resource.MenuArchivo_Plan, "Index", "PlanTickets", new { }, new { @class = "dropdown-item" })
                        </div>
                    </li>
                }

                @if (User.IsInRole("User") | User.IsInRole("Cobros"))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @Resources.Resource.MenuOperation_Operation
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @if (User.IsInRole("User"))
                            {
                                @Html.ActionLink(@Resources.Resource.MenuOperation_CrearTicket, "Index", "Ordertickets", new { }, new { @class = "dropdown-item" })
                                <div class="dropdown-divider"></div>
                            }
                            @if (User.IsInRole("Cobros"))
                            {
                                @Html.ActionLink(@Resources.Resource.MenuOperation_VentaTicketCajero, "Create", "SellTicketOneCachiers", new { }, new { @class = "dropdown-item" })
                            }
                            @if (User.IsInRole("User"))
                            {
                                @Html.ActionLink(@Resources.Resource.MenuOperation_VentaTicket, "Create", "SellTicketOnes", new { }, new { @class = "dropdown-item" })
                                @Html.ActionLink(@Resources.Resource.MenuOperacion_DespachoTicket, "Create", "SellTickets", new { }, new { @class = "dropdown-item" })
                            }
                        </div>
                    </li>
                }

                @if (User.IsInRole("User"))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @Resources.Resource.MenuReport_Reportes
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @Html.ActionLink(@Resources.Resource.MenuSystem_Cajeros, "PrintReportCachier", "SellTicketOneCachiersRep", new { }, new { @class = "dropdown-item" })
                        </div>
                    </li>
                }

                @if (User.IsInRole("User"))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @Resources.Resource.MenuSystem_System
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @Html.ActionLink(@Resources.Resource.MenuSystem_Cajeros, "Index", "Cachiers", new { }, new { @class = "dropdown-item" })
                            @Html.ActionLink(@Resources.Resource.MenuSystem_ChainCode, "Index", "ChainCodes", new { }, new { @class = "dropdown-item" })
                            <div class="dropdown-divider"></div>
                            @Html.ActionLink(@Resources.Resource.MenuSystem_Consecutivo, "Index", "Registers", new { }, new { @class = "dropdown-item" })
                            @Html.ActionLink(@Resources.Resource.MenuSystem_DocumentType, "Index", "Identifications", new { }, new { @class = "dropdown-item" })
                            @Html.ActionLink(@Resources.Resource.MenuSystem_TextoEncabezado, "Index", "HeadTexts", new { }, new { @class = "dropdown-item" })
                            <div class="dropdown-divider"></div>
                            @Html.ActionLink(@Resources.Resource.MenuSystem_Impuesto, "Index", "Taxes", new { }, new { @class = "dropdown-item" })
                        </div>
                    </li>
                }
                @Html.Partial("_LoginPartial")
            </ul>       
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Nexxt Voucher</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
