@model NexxtVoucher.Models.User
@{
    ViewBag.Title = "Home Page";
}

<style>
    .jumbotron1 {
        background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("../Content/ImgCarrusel/banner1.svg");
        background-size: 100%, 100%;
        color: white;
    }

    .jumbotron2 {
        background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("../Content/ImgCarrusel/banner2.svg");
        background-size: 100%, 100%;
        color: white;
    }

    .jumbotron3 {
        background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("../Content/ImgCarrusel/banner3.svg");
        background-size: 100%, 100%;
        color: white;
    }
</style>

<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="jumbotron jumbotron-fluid jumbotron1">
                <div class="container">
                    @if (Model != null && !string.IsNullOrEmpty(Model.Company.Logo))
                    {
                        <img src="@Url.Content(Model.Company.Logo)" alt="Image" style="width:100px;height:100px;max-width: 100%; height: auto;" />
                    }
                    @if (Model != null)
                    {<h1 class="display-5"><strong>@Html.DisplayFor(model => model.Company.Compania)</strong></h1>
                    <p class="lead">@Resources.Resource.NombreSoftware</p>
                }
                else
                {<h1 class="display-4"><strong>Infoplanet-Team</strong></h1>}

                    @if (Model == null)
                    {
                        <p class="lead">@Resources.Resource.NombreSoftware</p>}
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="jumbotron jumbotron-fluid jumbotron2">
                <div class="container">
                    @if (Model != null && !string.IsNullOrEmpty(Model.Company.Logo))
                    {
                        <img src="@Url.Content(Model.Company.Logo)" alt="Image" style="width:100px;height:100px;max-width: 100%; height: auto;" />
                    }
                    @if (Model != null)
                    {<h1 class="display-5"><strong>@Html.DisplayFor(model => model.Company.Compania)</strong></h1>
                    <p class="lead">@Resources.Resource.NombreSoftware</p>
                }
                else
                {<h1 class="display-4"><strong>Infoplanet-Team</strong></h1>}

                    @if (Model == null)
                    {
                        <p class="lead">@Resources.Resource.NombreSoftware</p>}
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="jumbotron jumbotron-fluid jumbotron3">
                <div class="container">
                    @if (Model != null && !string.IsNullOrEmpty(Model.Company.Logo))
                    {
                        <img src="@Url.Content(Model.Company.Logo)" alt="Image" style="width:100px;height:100px;max-width: 100%; height: auto;" />
                    }
                    @if (Model != null)
                    {<h1 class="display-5"><strong>@Html.DisplayFor(model => model.Company.Compania)</strong></h1>
                    <p class="lead">@Resources.Resource.NombreSoftware</p>
                }
                else
                {<h1 class="display-4"><strong>Infoplanet-Team</strong></h1>}

                    @if (Model == null)
                    {
                        <p class="lead">@Resources.Resource.NombreSoftware</p>}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem; text-align:justify">
            <div style="text-align:center">
                <img src="~/Content/ImgHomePage/ImgAgenda1.gif" class="card-img-top" alt="Image" style="width:100px;height:100px;max-width: 100%; height: auto;">
            </div>
            <div class="card-body">
                <h5 class="card-title">@Resources.Resource.Link1</h5>
                <p class="card-text">@Resources.Resource.Link1Text</p>
                @if (Model != null)
                {
                    <div class="row">
                        <div class="col-md-6 mb-2">
                            @Html.ActionLink("Servidor", "Index", "Servers", new { }, new { @class = "btn btn-outline-info btn-sm" })
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
    <div class="col-sm-4">
        <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem; text-align:justify">
            <div style="text-align:center">
                <img src="~/Content/ImgHomePage/ImgDentist1.gif" class="card-img-top" alt="Image" style="width:100px;height:100px;max-width: 100%; height: auto;">
            </div>
            <div class="card-body">
                <h5 class="card-title">@Resources.Resource.Link2</h5>
                <p class="card-text">@Resources.Resource.Link2Text</p>
                @if (Model != null)
                {
                    <div class="row">
                        <div class="col-md-6 mb-2">
                            @Html.ActionLink("Categoria", "Index", "PlanCategories", new { }, new { @class = "btn btn-outline-info btn-sm" })
                        </div>

                        <div class="col-md-6 mb-2">
                            @Html.ActionLink("Planes", "Index", "PlanTickets", new { }, new { @class = "btn btn-outline-info btn-sm" })
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
    <div class="col-sm-4">
        <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem; text-align:justify">
            <div style="text-align:center">
                <img src="~/Content/ImgHomePage/ImgPagos1.gif" class="card-img-top" alt="Image" style="width:100px;height:100px;max-width: 100%; height: auto;">
            </div>
            <div class="card-body">
                <h5 class="card-title">@Resources.Resource.Link3</h5>
                <p class="card-text">@Resources.Resource.Link2Text</p>
                @if (Model != null)
                {
                    <div class="row">
                        <div class="col-md-6 mb-2">
                            @Html.ActionLink("Crear", "Index", "Ordertickets", new { }, new { @class = "btn btn-outline-info btn-sm" })
                        </div>

                        <div class="col-md-6 mb-2">
                            @Html.ActionLink("Venta", "Create", "SellTicketOnes", new { }, new { @class = "btn btn-outline-info btn-sm" })
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
</div>

@if (Model == null)
{
    <div class="card text-center">
        <div class="card-header">

        </div>
        <div class="card-body">
            <h5 class="card-title">Para Aquirir nuestro Software</h5>
            <p class="card-text">
                <div class="row">
                    <div class="col-md-6 mb-2">
                        <img src="~/Content/ImgHomePage/ImgMercadoPago.gif" class="card-img-top" alt="Image" style="width:293px;height:82px;max-width: 100%; height: auto;">
                        <hr />
                    </div>

                    <div class="col-md-6 mb-2">
                        <img src="~/Content/ImgHomePage/ImgPayPal.gif" class="card-img-top" alt="Image" style="width:293px;height:82px;max-width: 100%; height: auto;">
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-2">
                        <a mp-mode="dftl" href="https://www.mercadopago.com.co/checkout/v1/redirect?pref_id=134964291-ec788818-d6a4-4ff5-9014-1c8b43fa6f26" name="MP-payButton" class='orange-ar-s-rn-none'>Pagar</a>
                        <script type="text/javascript">
                            (function () { function $MPC_load() { window.$MPC_loaded !== true && (function () { var s = document.createElement("script"); s.type = "text/javascript"; s.async = true; s.src = document.location.protocol + "//secure.mlstatic.com/mptools/render.js"; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); window.$MPC_loaded = true; })(); } window.$MPC_loaded !== true ? (window.attachEvent ? window.attachEvent('onload', $MPC_load) : window.addEventListener('load', $MPC_load, false)) : null; })();
                        </script>
                    </div>

                    <div class="col-md-6 mb-2">
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="HLRYCXG43XFME">
                            <input type="image" src="https://www.paypalobjects.com/es_ES/ES/i/btn/btn_paynow_LG.gif" border="0" name="submit" alt="PayPal, la forma rápida y segura de pagar en Internet.">
                            <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                        </form>
                    </div>
                </div>
            </p>
            @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
        </div>
        <div class="card-footer text-muted">

        </div>
    </div>
}
