@model NexxtVoucher.Models.OrderTicket

@{
    ViewBag.Title = @Resources.Resource.ViewDetail;
}
    <br />

<h2>@Resources.Resource.ViewDetail</h2>


<div class="row">
    <div class="col-md-6">
        <div>
            <h4>@Resources.Resource.OrderTicket_Index_Titulo</h4>
            <hr />
            <div class="form-row">
                <div class="col-md-6 mb-2">
                    <strong>@Html.DisplayNameFor(model => model.OrdenNumero)</strong>
                    @Html.DisplayFor(model => model.OrdenNumero)
                </div>

                <div class="col-md-6 mb-2">
                    <strong> @Html.DisplayNameFor(model => model.Date)</strong>
                    @Html.DisplayFor(model => model.Date)
                </div>
            </div>
            <hr />
            <div class="form-row">
                <div class="col-md-6 mb-2">
                    <strong>@Html.DisplayNameFor(model => model.Server.Modelo)</strong>
                    @Html.DisplayFor(model => model.Server.Modelo)
                </div>

                <div class="col-md-6 mb-2">
                    <strong> @Html.DisplayNameFor(model => model.Server.Nombre)</strong>
                    @Html.DisplayFor(model => model.Server.Nombre)
                </div>
            </div>
            <hr />
            <div class="form-row">
                <div class="col-md-10 mb-2">
                    <strong> @Html.DisplayNameFor(model => model.Plan)</strong>
                    @Html.DisplayFor(model => model.Plan)
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-2">
                    <strong>@Html.DisplayNameFor(model => model.Precio)</strong>
                    @Html.DisplayFor(model => model.Precio)
                </div>

                <div class="col-md-6 mb-2">
                    <strong> @Html.DisplayNameFor(model => model.Cantidad)</strong>
                    @Html.DisplayFor(model => model.Cantidad)
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-2">
                    <strong> @Html.DisplayNameFor(model => model.Total)</strong>
                    @Html.DisplayFor(model => model.Total)
                </div>
            </div>
            <hr />
            <div class="form-row">
                <div class="col-md-6 mb-2">
                    <strong> @Html.DisplayNameFor(model => model.Creados)</strong>
                    @Html.DisplayFor(model => model.Creados)
                </div>

                <div class="col-md-6 mb-2">
                    <strong> @Html.DisplayNameFor(model => model.Mikrotik)</strong>
                    @Html.DisplayFor(model => model.Mikrotik)
                </div>
            </div>
        </div>
        <hr />
        <p></p>
    </div>
    <div class="col-md-6">
        <div>
            <h4>Codigos Creados</h4>
            <hr>
            @if (Model.OrderTicketDetails.Count == 0)
            {
                <h5>No Hay Tickets Creados</h5>
            }
            else
            {
                <table class="table table-striped">
                    <thead class="thead-light">
                        <tr class="table-secondary">
                            <th>
                                Ticket #
                            </th>
                            <th>
                                Codigo
                            </th>
                            <th>
                                Mikrotik
                            </th>
                        </tr>
                        @{
                            int registros = 0;
                        }
                    </thead>
                    @foreach (var item in Model.OrderTicketDetails.ToList())
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.TicketNumero)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Usuario)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MikrotikId)
                            </td>
                            @*<td align="right">
                            @Html.ActionLink("Borrar", "DeleteIpNet", new { id = item.OrderTicketDetailId }, new { @class = "btn btn-danger btn-sm", onclick = "return confirm('Desea Eliminar este Registro?')" })
                        </td>*@
                            @{
                                registros += +1;
                            }
                        </tr>
                    }
                    <tr>
                        <td align="center">
                            <strong>Tickets</strong>
                        </td>
                        <td align="right">
                            <strong>Registros: @registros</strong>
                        </td>
                    </tr>
                </table>
            }
        </div>
    </div>
</div>