@model IEnumerable<NexxtVoucher.Models.OrderTicket>

@{
    ViewBag.Title = @Resources.Resource.OrderTicket_Index_Titulo;
}

    <h2>@Resources.Resource.OrderTicket_Index_Titulo</h2>

    <p>
        <button title=@Resources.Resource.ButtonNew class="btn btn-primary btn-sm" onclick="location.href =
            '@Url.Action("Create", "OrderTickets", new { })'">
            <span class="glyphicon glyphicon-plus"></span> @Resources.Resource.ButtonNew
        </button>
    </p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrdenNumero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Server.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Plan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mikrotik)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.OrdenNumero)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Date)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Server.Nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Plan)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Precio)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Cantidad)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Total)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Mikrotik)
    </td>
    <td>
        @if (item.Creados == 0)
        {
            <button title=@Resources.Resource.ButtonEdit class="btn btn-warning btn-sm" onclick="location.href =
                   '@Url.Action("Edit", "OrderTickets", new { id = item.OrderTicketId})'">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
        } 
        <button title=@Resources.Resource.ButtonDetail class="btn btn-info btn-sm" onclick="location.href =
                   '@Url.Action("Details", "OrderTickets", new { id = item.OrderTicketId})'">
            <span class="glyphicon glyphicon-list"></span>
        </button> 
        @if (item.Creados == 0)
        {
            <button title=@Resources.Resource.ButtonDelete class="btn btn-danger btn-sm" onclick="location.href =
                   '@Url.Action("Delete", "OrderTickets", new { id = item.OrderTicketId})'">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        }
    </td>
</tr>
}

</table>
