@model NexxtVoucher.Models.SellTicketOneCachier

@{
    ViewBag.Title = @Resources.Resource.ViewDetail;
}

<h2> @Resources.Resource.ViewDetail</h2>

<div>
    <h4>@Resources.Resource.SellTicket_Model_Titulo</h4>
    <hr />

    <div class="form-row">
        <div class="col-md-3 mb-2">
            @Html.DisplayNameFor(model => model.VentaCachier)
            @Html.DisplayFor(model => model.VentaCachier)
        </div>

        <div class="col-md-3 mb-2">
            @Html.DisplayNameFor(model => model.Date)
            @Html.DisplayFor(model => model.Date)
        </div>
    </div>
    <hr />
    <div class="form-row">
        <div class="col-md-3 mb-2">
            @Html.DisplayNameFor(model => model.Cachier.FullName)
            @Html.DisplayFor(model => model.Cachier.FullName)
        </div>
    </div>
    <hr />
    <div class="form-row">
        <div class="col-md-3 mb-2">
            @Html.DisplayNameFor(model => model.PlanTicket.Plan)
            @Html.DisplayFor(model => model.PlanTicket.Plan)
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-3 mb-2">
            @Html.DisplayNameFor(model => model.Precio)
            @Html.DisplayFor(model => model.Precio)
        </div>
    </div>
</div>
<hr />
<p></p>
<p>
    <button type="button" class="btn btn-success btn-sm" onclick="location.href = '@Url.Action("Index", new  {})'">
        <i class="fa fa-backspace"></i>
        @Resources.Resource.ButtonBack
    </button>

    <button type="button" class="btn btn-primary btn-sm" onclick="location.href = '@Url.Action("Create", new  {})'">
        <i class="fa fa-plus-circle"></i>
        @Resources.Resource.ButtonNew
    </button>

    <button type="button" class="btn btn-warning btn-sm" onclick="location.href = '@Url.Action("PrintTicket", new { id = Model.SellTicketOneCachierId })'">
        <i class="fa fa-print"></i>
        @Resources.Resource.ButtonPrint
    </button>



    @*<button type="button" class="btn btn-success btn-sm" onclick="location.href ='@Url.Action("Create", new {})'">
            <span class="glyphicon glyphicon-chevron-left"></span> @Resources.Resource.ButtonBack
        </button>

        @Html.ActionLink(@Resources.Resource.ButtonPrint, "PrintTicket", new { id = Model.SellTicketOneCachierId }, new { @class = "btn btn-warning btn-sm" }) |*@
    @*<button type="button" class="btn btn-info btn-sm" onclick="location.href ='@Url.Action("Edit", new { id = Model.SellTicketOneCachierId})'">
            <span class="glyphicon glyphicon-list"></span> @Resources.Resource.ButtonEdit
        </button>*@
</p>
