@model NexxtVoucher.Models.ChainCode

@{
    ViewBag.Title = @Resources.Resource.ViewDetail;
}

    <h2>@Resources.Resource.ViewDetail</h2>

<div>
    <h4>@Resources.Resource.ChainCode_Intext_Titulo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cadena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cadena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Largo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Largo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(@Resources.Resource.ButtonEdit, "Edit", new { id = Model.ChainCodeId }, new { @class="btn btn-primary btn-sm"}) |
    @Html.ActionLink(@Resources.Resource.ButtonBack, "Index", new { }, new { @class="btn btn-success btn-sm"} )
</p>
