@model NexxtVoucher.Models.SellTicket

@{
    ViewBag.Title = @Resources.Resource.ViewDetail;
}

<h2>@Resources.Resource.ViewDetail</h2>



<div class="row">
    <div class="col-md-6">
        <div>
            <h4>@Resources.Resource.SellTicket_Model_Titulo</h4>
            <hr />
            <div class="form-row">
                <div class="col-md-6 mb-2">
                    <strong>@Html.DisplayNameFor(model => model.VentaOne)</strong>
                    @Html.DisplayFor(model => model.VentaOne)
                </div>

                <div class="col-md-6 mb-2">
                    <strong> @Html.DisplayNameFor(model => model.Date)</strong>
                    @Html.DisplayFor(model => model.Date)
                </div>
            </div>
            <hr />
            <div class="form-row">
                <div class="col-md-10 mb-2">
                    <strong>@Html.DisplayNameFor(model => model.PlanCategory.Categoria)</strong>
                    @Html.DisplayFor(model => model.PlanCategory.Categoria)
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-10 mb-2">
                    <strong>@Html.DisplayNameFor(model => model.PlanTicket.Plan)</strong>
                    @Html.DisplayFor(model => model.PlanTicket.Plan)
                </div>
            </div>
            <hr />
            <div class="form-row">
                <div class="col-md-10 mb-2">
                    <strong>@Html.DisplayNameFor(model => model.Precio)</strong>
                    <strong>@Html.DisplayFor(model => model.Precio)</strong>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-10 mb-2">
                    <strong>@Html.DisplayNameFor(model => model.TotalTicket)</strong>
                    <strong>: @Model.TotalTicket</strong>
                    @*@string.Format("{0:c}", Html.DisplayFor(model => model.TotalVenta))*@
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-10 mb-2">
                    <strong>@Html.DisplayNameFor(model => model.TotalVenta)</strong>
                    <strong>: @string.Format("{0:c}", Model.TotalVenta)</strong>
                    @*@string.Format("{0:c}", Html.DisplayFor(model => model.TotalVenta))*@
                </div>
            </div>
        </div>
        @*<strong>@string.Format("{0:c}", model.TotalVenta)</strong>*@
        <hr />
        <p></p>
        <p>
            <button type="button" class="btn btn-success btn-sm" onclick="location.href = '@Url.Action("Index", new  {})'">
                <i class="fa fa-backspace"></i>
                @Resources.Resource.ButtonBack
            </button>

            @if (Model.SellTicketDetails.Count == 0)
            {
                <button type="submit" class="btn btn-warning btn-sm" onclick="location.href = '@Url.Action("Edit", new { id = Model.SellTicketId })'">
                    <i class="fa fa-pencil-alt"></i>
                    @Resources.Resource.ButtonEdit
                </button>
            }
            @if (Model.SellTicketDetails.Count == 0)
            {
                <button type="submit" class="btn btn-primary btn-sm" onclick="location.href = '@Url.Action("AddTicket", new { planid = Model.PlanTicketId, serid = Model.ServerId, ventaN = Model.VentaOne, sellid = Model.SellTicketId, com = Model.CompanyId })'">
                    <i class="fa fa-pencil-alt"></i>
                    @Resources.Resource.ButtonAdd
                </button>
            }
            @if (Model.SellTicketDetails.Count != 0)
            {
                <button type="submit" class="btn btn-warning btn-sm" onclick="location.href = '@Url.Action("ExportToExcel", new { seid = Model.SellTicketId })'">
                    <i class="fa fa-file-excel"></i>
                    @Resources.Resource.ButtonExcel
                </button>
            }
            @*@Html.ActionLink(@Resources.Resource.ButtonDetail, "Edit", new { id = Model.SellTicketId }, new { @class = "btn btn-primary btn-sm" }) |
                @Html.ActionLink(@Resources.Resource.ButtonBack, "Index", new { }, new { @class = "btn btn-success btn-sm" }) |
                @if (Model.SellTicketDetails.Count == 0)
                {
                    @Html.ActionLink(@Resources.Resource.ButtonAdd, "AddTicket", new { planid = Model.PlanTicketId, serid = Model.ServerId, ventaN = Model.VentaOne, sellid = Model.SellTicketId, com = Model.CompanyId }, new { @class = "btn btn-warning btn-sm" })}
                @Html.ActionLink(@Resources.Resource.ButtonExcel, "ExportToExcel", new { seid = Model.SellTicketId }, new { @class = "btn btn-warning btn-sm" }) |*@

        </p>
    </div>
    <div class="col-md-6">
        <div>
            <h4>Codigos Creados</h4>
            <hr>
            @if (Model.SellTicketDetails.Count == 0)
            {
                <h5>No Hay Tickets Creados</h5>
            }
            else
            {
                <table class="table table-striped">
                    <thead class="thead-light">
                        <tr class="table-secondary">
                            <th>
                                Ticket #
                            </th>
                            <th>
                                Plan
                            </th>
                            <th>
                                Usuario
                            </th>
                        </tr>

                        @{
                            int registros = 0;
                        }
                    </thead>
                    @foreach (var item in Model.SellTicketDetails.ToList())
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.TicketNumero)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Plan)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Usuario)
                            </td>
                            @{
                                registros += +1;
                            }
                        </tr>
                    }
                    <tr>
                        <td align="center">
                            <strong>Tickets</strong>
                        </td>
                        <td align="right">
                            <strong>Registros: @registros</strong>
                        </td>
                    </tr>
                </table>
            }
        </div>
    </div>
</div>